@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --btn: rgb(207, 207, 207);
  --roboto: "Roboto", sans-serif;
  --poppins: "Poppins", sans-serif;
  --border: rgb(223, 221, 221);
  --black: rgb(24, 24, 24);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--roboto);
}

::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  padding: 50px 0 57px 0;
}

.sign-in-holder {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-options {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sign-in {
  border: none;
  border-radius: 0.5rem;
  padding: 15px 25px;
  background-color: var(--btn);
  font-size: 1.1rem;
  max-width: 250px;
}

.sign-in-logo {
  width: 400px;
  height: 180px;
  margin-bottom: 50px;
}

.main-logo {
  width: 150px;
  height: 50px;
}

.sign-out {
  display: block;
  width: 40px;
  height: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  border-bottom: 1px solid var(--border);
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: white;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  border-top: 1px solid var(--border);
  height: 57px;
  background-color: white;
}

.BN-icon {
  display: block;
  width: 32px;
  height: 32px;
  color: var(--black);
}

.BN-prot-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.stories {
  display: flex;
  gap: 10px;
  padding: 5px 0 5px 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  border-bottom: 1px solid var(--border);
}

.story {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: inline-block;
}

.desc-upload {
  resize: none;
  width: 100%;
  height: 350px;
  border: 1px solid var(--border);
  border-radius: 1rem;
  padding: 10px 15px;
  font-size: 1.1rem;
  margin: 25px 0;
}

.desc-upload:focus {
  outline: none;
}

.upload-holder {
  min-height: 100vh;
  padding-bottom: 59px;
  padding-top: 10px;
}

.upload-form {
  height: 56vh;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 5px 20px;
}

.upload-btn {
  background-color: var(--btn);
  padding: 10px 20px;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  margin: 0 0 0 20px;
}

.img-upload::-webkit-file-upload-button {
  background-color: var(--btn);
  border: none;
  height: 45px;
  width: 170px;
  border-radius: 0.5rem;
}
.img-upload {
  font-size: 1.1rem;
}

.no-posts-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 1.5rem;
  color: rgb(171, 171, 171);
}

.post {
  border-bottom: 1px solid var(--border);
}
.post-prof-sec-prof_pic {
  width: 35px;
  height: 35px;
  display: inline-block;
  background-color: rgb(26, 27, 27);
  border-radius: 50%;
}

.post-prof-sec-prof_name {
  font-size: 0.9rem;
  color: black;
}

a {
  text-decoration: none;
}

.post-prof-sec {
  display: flex;
  padding: 5px 5px;
}

.post-prof-sec > a {
  display: flex;
  align-items: center;
  gap: 7px;
}

.post_pic {
  width: 100%;
  height: 100%;
}

.interactions {
  display: flex;
  align-items: center;
  padding-left: 4px;
  gap: 5px;
}

.heart-icon {
  font-size: 1.8rem;
}

.description {
  padding: 5px 5px 20px 7px;
}

.desc-prof_name {
  font-weight: 600;
  margin-right: 4px;
}

.prof_name-sec {
  display: flex;
  padding: 20px;
  gap: 25px;
}

.prof-sec-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.prof_name {
  font-size: 1.5rem;
  margin-top: 10px;
}

.prof_description-sec {
  padding: 0 20px 20px 20px;
}

.user-name-changeable {
  font-weight: 600;
}

.follower-stats {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid var(--border);
  border-top: 1px solid var(--border);
}

.following-sec {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.follower-sec {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts-sec {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 500px) {
  .sign-in-logo {
    width: 300px;
    height: 100px;
    margin-bottom: 50px;
  }
}
